@import url("styles/header.css");
:root {
    --color-background: #EBECEE;
    --color-menu-background: #FFFFFF;
    --color-title: #EB9B00;
    --color-link: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
}

body {
    background-color: var(--color-background);
}