@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/footer.css");

:root {
    --color-background: #EBECEE;
    --color-primary: #FFFFFF;
    --color-secondary-gadient: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --color-secondary-solid: #002F52;
    --color-tertiary: #EB9B00;
    --color-quarantine: #000;
    --color-opac: #858585; 
    --color-opac-fort: #474646; 

    --font-main: "Poppins";
    --font-logo: "Josefin Sans"
}

body {
    background-color: var(--color-background);
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 400;
}


@media screen and (min-width: 1024px) {
    .only-small {
        display: none;
    }    
}