.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}

.cabecalho__menu-hamburger {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked~.menu__rotulo {
    background: var(--color-secondary-gadient);
    color: var(--color-primary);
}

.container__botao:checked~.menu__rotulo .cabecalho__menu-hamburger {
    background-image: url("../assets/img/MenuBranco.svg");
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--color-primary);
}

.lista-menu__titulo {
    color: var(--color-tertiary);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--color-secondary-gadient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
}

.lista-menu__item:hover {
    background: var(--color-secondary-gadient);
}

.lista-menu__item:hover .lista-menu__link{
    -webkit-text-fill-color: var(--color-primary);
}

.container__titulo {
    display: none;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 1.875rem;
}

.container__titulo-negrito {
    font-weight: 700;
}

.opcoes {
    display: none;
}

.opcoes .menu__rotulo {
    padding: 1em 2em;
}

.opcoes__item {
    padding: 1em;
    text-transform: uppercase;

}

.opcoes__link {
    color: var(--color-quarantine);
    text-decoration: none;
}

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container__texto {
    display: none;
    color: var(--color-quarantine);
}

@media screen and (min-width: 1024px) {
    .container__titulo {
        display: block;
    }

    .opcoes {
        display: flex;
    }

    .lista-menu {
        width: auto;
    }
}

@media screen and (min-width: 1728px) {
    .container {
        padding: 0 5rem;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}