.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}

.cabecalho__menu-hamburger {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--color-primary);
}

.lista-menu__titulo {
    color: var(--color-tertiary);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-transform: uppercase;
    text-decoration: none;
}
